html {
    scroll-behavior: smooth;
}

.text-orange {
    color: orange;
}

.bg-orange {
    background-color: orange;
}

/* introduction */
.introduction-content:nth-child(1) {
    background-color: lightgoldenrodyellow;
}

.introduction-content:nth-child(2) {
    background-color: yellow;
}

.introduction-content:nth-child(3) {
    background-color: lightsalmon;
}

.introduction-content:nth-child(4) {
    background-color: orange;
}

.introduction-content+.introduction-content {
    border-left: 1px solid orange;
}

/* footer */
.social a {
    color: #000;
}

/* Breakpoint */
/* For small device */
@media (max-width: 576px) {
    .introduction-content+.introduction-content {
        border-left: none;
        border-top: 1px solid orange;
    }
}